body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/A_large_blank_world_map_with_oceans_marked_in_blue-edited.png/1600px-A_large_blank_world_map_with_oceans_marked_in_blue-edited.png);
}

.container{
    background-color: white;
    font-family: 'McLaren', cursive;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 75%;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;


}